@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
 
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    border: 0;
    list-style: none;
    text-decoration: none;
}
 
:root {
    --body-color: #E4E9F7;
    --sidebar-color: #fff;
    --primary-color: #695CFE;
    --primary-color-icon: #695CFE;
    --primary-color-light: #e7ebf5;
    --text-color: #707070;
    --toggle-color: #DDDD;
 
    --transition-02: all 0.2s ease;
    --transition-03: all 0.3s ease;
    --transition-04: all 0.4s ease;
    --transition-05: all 0.5s ease;
}
 
body {
    width: 100vw;
    height: 100vh;
    background: var(--body-color);
    transition: var(--transition-02);
    user-select: none;
    overflow-x: hidden;
}

.conteiner{
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
}

body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-icon: #fff;
    --primary-color-light: #3A3B3C;
    --text-color: #FFF;
    --toggle-color: #CCC;
}

/*==== SIDEBAR ====*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--transition-05);
    z-index: 100;
}

.sidebar.close{
    width: 88px;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--transition-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
 
.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
 
.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--transition-03);
}
 
.sidebar header {
    position: relative;
}
 
.sidebar .image-text img {
    width: 40px;
    background-color: var(--primary-color);
    border-radius: 6px;
}
 
.sidebar header .image-text {
    display: flex;
    align-items: center;
}
 
header .image-text .header-text {
    display: flex;
    flex-direction: column;
}
 
.header-text .name {
    font-weight: 600;
}
 
.header-text .name-2 {
    margin-top: -2px;
}
 
.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    transition: var(--transition-03);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar .menu{
    margin-top: 35px;
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}

.sidebar .search-box{
    border-radius: 6px;
    background: var(--primary-color-light);
}
 
.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
}
 
.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--transition-04);
}
 
.sidebar li a:hover{
    background: var(--primary-color);
}
 
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 
.menu-bar .mode{
    position: relative;
    background: var(--primary-color-light);
    border-radius: 6px;
}
 
.menu-bar .mode .moon-sun{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
}
 
.menu-bar .mode i{
    position: absolute;
    transition: var(--transition-03);
}
 
.menu-bar .mode i.moon{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.moon{
    opacity: 1;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
}
 
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: rgb(221, 221, 221);
}
 
.switch::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--transition-03);
}
 
body.dark .switch::before{
    left: 25px;
}

main {
    margin-top: 1.4rem;
}

.home{
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--transition-05);
}

.home .text{
    width: 200px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--text-color);
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

.dashboard{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .dashboard .box{
    position: relative;
    height: 92px;
    transition: var(--transition-04);
}

.dashboard > div{
    display: flex;
    align-items: center;
    padding: 1.8rem;
    margin-top: 1rem;
    background:var(--sidebar-color);
    border-radius: 20px;
}

.dashboard-2{
    margin-bottom: 10px;
    width: 100%;
}

main .dashboard-2 .box-gl{
    width: 55rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.dashboard-2 .box{
    display: flex;
    align-items: center;
}

.dashboard-2 > div{
    display: flex;
    align-items: center;
    padding: 1.8rem;
    margin-top: 1rem;
    background:var(--sidebar-color);
    border-radius: 20px;
}

.box-icon{
    display: flex;
    height: 50px;
    width: 50px;
    min-width: 50px;
    align-items: center;
    justify-content: center;
    background: var(--primary-color-light);
    border-radius: 6px;
    margin-right: 15px;
}
.icon-2{
    font-size: 30px;
    color: var(--primary-color-icon);
}

.icon-shoe{
    font-size: 20px;
}

.box-text{
    display: flex;
    flex-direction: column;
}

.box-text .text-box{
    width: 155px;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.box-text .text-box-2{
    font-size: 10px;
    color: var(--text-color);
}

.dashboard .box:hover{
    transform: scale(1.05);
}